.Forecast {
  margin-top: 15px;
}
.forecast-day-info {
  padding: 20px 5px;
  text-align: center;
  font-style: italic;
}
.forecast-day {
  font-weight: bold;
}
.forecast-date {
  font-size: 11px;
}
.forecast-day-temp {
  font-weight: bold;
}
